<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Anonifydemo"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.account_Activity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.signupActivity"
            android:exported="false"
            android:label="@string/title_activity_signup"
            android:theme="@style/Theme.Anonifydemo" />

        <activity
            android:name=".ui.activity.Login_Activity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.onboard"
            android:exported="false"
            android:theme="@style/SplashApi">

        </activity>

        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:theme="@style/SplashApi">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
    </application>

</manifest>